html {
    position: relative;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    background-color: black;
    color: white;
    max-width: 640px;
    margin: auto;
    padding: 0 20px;
    text-align: center;
    min-height: 100vh;
    align-content: center;
    text-shadow: -1px -1px 0 #000,
                 0 -1px 0 #000,
                 1px -1px 0 #000,
                 1px 0 0 #000,
                 1px 1px 0 #000,
                 0 1px 0 #000,
                 -1px 1px 0 #000,
                 -1px 0 0 #000;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    color-scheme: dark;
}

body.landing-page, body.page-not-found {
    background: #181818;
}

body.page-not-found img {
    max-width: 100%;
}

#background-image {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 50%;
    filter: blur(5px);
}

#content, #settings, #cvars {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    align-content: center;
}

h1, .title {
    line-height: 16px;
    text-align: center;
}

/* a.button is used in the landing page */
a.button {
    text-decoration: none;
    color: white;
    display: block;
    width: 200px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    background: #404040;
    margin: 20px auto;
    padding: 10px;
}

a.button:hover, a.button:focus {
    background: #606060;
}

a.button:active {
    background: #202020;
}

.info {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    grid-gap: 5px;
    margin: 2em auto;
    text-align: left;
}

.status img {
    vertical-align: bottom;
}

.bonus-info, .mono.bonus-info {
    color: #a0a0a0;
    font-size: 14px;
    font-weight: normal;
}

.mono, .player-list {
    color: white;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-weight: bold;
    font-size: 18px;
    text-shadow: -1px -1px 0 #000,
                 0 -1px 0 #000,
                 1px -1px 0 #000,
                 1px 0 0 #000,
                 1px 1px 0 #000,
                 0 1px 0 #000,
                 -1px 1px 0 #000,
                 -1px 0 0 #000;
    letter-spacing: 2px;
}

.player-list {
    margin: auto;
    border-spacing: 10px 20px;
}

th.score, th.ping {
    font-size: 10px;
}

.black {
    color: black;
}
.red {
    color: red;
}
.green {
    color: limegreen;
}
.yellow {
    color: yellow;
}
.blue {
    color: blue;
}
.cyan {
    color: cyan;
}
.magenta {
    color: magenta;
}
.white {
    color: white;
}
.orange {
    color: orangered;
}
.gray {
    color: gray;
}

.black, .blue {
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5),
                 0 -1px 0 rgba(255, 255, 255, 0.5),
                 1px -1px 0 rgba(255, 255, 255, 0.5),
                 1px 0 0 rgba(255, 255, 255, 0.5),
                 1px 1px 0 rgba(255, 255, 255, 0.5),
                 0 1px 0 rgba(255, 255, 255, 0.5),
                 -1px 1px 0 rgba(255, 255, 255, 0.5),
                 -1px 0 0 rgba(255, 255, 255, 0.5);
}

td {
    text-align: right;
}

td:first-child {
    text-align: left;
    word-break: break-word;
}

#refreshed-footer {
    margin-top: 2em;
}

#refreshed-footer, #settings-footer, #settings, #cvars {
    display: none; /* Displayed by JavaScript */
}

#settings-footer {
    margin-bottom: 1em;
}

#settings-footer button {
    margin: 0 5px 15px;
}

#setting-grid, #cvar-grid {
    display: grid;
    grid-template-columns: auto; /* Only 1 column in mobile view */
    grid-gap: 5px;
    text-align: left;
    width: fit-content;
    margin: auto;
}

#cvar-grid {
    text-align: center;
    max-height: calc(100vh - 220px);
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.67);
    border: 10px solid transparent;
    border-right: 0;
    border-radius: 5px;
    padding-right: 10px;
}

#cvars {
    max-height: 100vh;
}

label {
    font-weight: bold;
    text-align: right;
}

#setting-grid label {
    margin-top: 14px;
    text-align: left;
}

#cvar-grid label {
    margin-top: 14px;
    text-align: center;
}

#close-settings, #close-cvars {
    margin-top: 32px;
}

select, button {
    padding: 5px 10px;
    color: white;
    background: #404040;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    max-width: 280px;
    cursor: pointer;
}

select:hover, button:hover, select:focus, button:focus {
    background: #606060;
}

button:active {
    background: #202020;
    color: #c0c0c0;
}

button:active img {
    opacity: 75%;
}

button {
    font-weight: 600;
    padding: 10px 20px;
}

button img {
    vertical-align: -5px;
    margin-right: 5px;
}

input[type=range], input[type=color] {
    vertical-align: middle;
}

.disabled {
    opacity: 50%;
}

#settings .title img, #cvars .title img {
    vertical-align: middle;
}

@media (min-width: 640px) {
    body, .bonus-info, .mono.bonus-info {
        font-size: 16px;
        line-height: 24px;
    }

    h1, .title {
        line-height: 24px;
    }

    .status img {
        width: 24px;
        height: 24px;
    }

    .info {
        grid-gap: 5px 10px;
    }

    .mono, .player-list {
        font-size: 24px;
        line-height: 24px;
    }

    th.score, th.ping {
        font-size: 24px;
    }

    #settings .title img, #cvars .title img {
        width: 32px;
        height: 32px;
    }

    #settings .title {
        margin-bottom: 2em;
    }

    #setting-grid, #cvar-grid {
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    #setting-grid label {
        margin-top: 0;
        text-align: right;
    }

    #cvar-grid {
        text-align: left;
        max-height: calc(100vh - 230px); /* 10px shorter in desktop mode */
    }

    #cvar-grid label {
        margin-top: 0;
        text-align: left;
    }
}
